.menuItem {
  position: absolute;
  top: 7px;
  right: 7px;
}

.Notifications {
  padding: 6px 12px;
  position: absolute;
  top: 21px;
  right: 7px;
  margin-top: 12px;
}
.Notifications,
.Notification-display {
  border: 3px dashed red;
}
[data-notification-type="default"] {
  color: blue;
}

[data-notification-type="urgent"] {
  color: red;
}